/* Medium Devices, Desktops */
@media only screen and (min-width : 1025px) {
    .screensaver-slogan span{
        cursor: pointer;
    }
    .screensaver-slogan h2{
    font-size: 20px;
    padding: 10px;
    }
    .screensaver-slogan h1{
    font-weight: 600;
    color: aliceblue;
    font-size: 30px;
    }
    .screensaver-text, .product-tpe-text{
        box-shadow: 0 14px 28px rgba(255, 255, 255, 0.185), 0 10px 10px rgba(195, 243, 203, 0.459);
    }
    .container{
        background-color: rgb(0, 0, 0);
    }
    .wrapper {
    max-width: 1024px;
    }
    .header{
    max-width: 1024px;
    }
    .product__row{
        display: grid;
        grid-template-areas:'item1 item1 item1'
                            'item2 item4 item6'
                            'item8 item5 item6';
        grid-gap: 5px; 
    }
    .product__row-title{
        grid-area: item1;
    }
    .product-tpe{
        grid-area: item2;
    }
    .product-tpe-text{
        z-index: 2;
        position: absolute;
        padding: 50px 50px;
        border: 10px solid #000000;
        margin-right: 5px;
    }
    .product-black{
        grid-area: item4;
    }
    .product-black-text{
        z-index: 2;
        position: absolute;
        left: 0;
        padding: 50px 50px;
        border: 10px solid #725c5c;
    }
    .product-white{
        grid-area: item5;
    }
    .product-white-text{
        z-index: 2;
        position: absolute;
        padding: 50px 50px;
        border: 10px solid #725c5c;
        margin: 0px auto;
    }
    .product-comp{
        grid-area: item6;
    }
    .product-comp-text{
        z-index: 2;
        position: absolute;
        left: 0;
        padding: 50px 50px;
        border: 10px solid #725c5c;
    }
    .product-color{
        grid-area: item8;
    }
    .product-color-text-list{
        z-index: 2;
        position: absolute;
        padding: 50px 50px;
        border: 10px solid #725c5c;
    }
    
    .menu__main li{
    margin-top: 40px;
    }
}
@media only screen and (min-width:831px) and (max-width : 1024px) {
    .wrapper {
    max-width: 820px;
    }
    .header{
    max-width: 820px;
    }
    .product__row{
        display: grid;
        grid-template-areas:'item1 item1 '
                            'item2 item6 '
                            'item4 item6 '
                            'item5 item8';
        grid-gap: 5px;                    
    }
    .product__row-title{
        grid-area: item1;
    }
    .product-tpe{
        grid-area: item2;
    }
    .product-tpe-text{
        z-index: 2;
        position: absolute;
        padding: 50px 50px;
        border: 10px solid #725c5c;
    }
    .product-black{
        grid-area: item4;
    }
    .product-black-text{
        z-index: 2;
        position: absolute;
        left: 0;
        padding: 50px 50px;
        border: 10px solid #725c5c;
    }
    .product-white{
        grid-area: item5;
    }
    .product-white-text{
        z-index: 2;
        position: absolute;
        padding: 50px 50px;
        border: 10px solid #725c5c;
    }
    .product-comp{
        grid-area: item6;
    }
    .product-comp-text{
        z-index: 2;
        position: absolute;
        left: 0;
        padding: 50px 50px;
        border: 10px solid #725c5c;
    }
    .product-color{
        grid-area: item8;
    }
    .product-color-text-list{
        z-index: 2;
        position: absolute;
        padding: 50px 50px;
        border: 10px solid #725c5c;
        left: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width:481px) and (max-width : 830px) {
    .container{
        background-color: rgb(0, 0, 0);
    }
    .wrapper {
    max-width: 640px;
    }
    .header{
    max-width: 640px;
    }
    .product__row{
        display: grid;
        grid-template-areas:'item1 item1 '
                            'item2 item6 '
                            'item4 item6 '
                            'item5 item8';
        grid-gap: 5px;                    
    }
    .product__row-title{
        grid-area: item1;
    }
    .product-tpe{
        grid-area: item2;
    }
    .product-tpe-text{
        z-index: 2;
        position: absolute;
        padding: 50px 50px;
        border: 10px solid #725c5c;
    }
    .product-black{
        grid-area: item4;
    }
    .product-black-text{
        z-index: 2;
        position: absolute;
        left: 0;
        padding: 50px 50px;
        border: 10px solid #725c5c;
    }
    .product-white{
        grid-area: item5;
    }
    .product-white-text{
        z-index: 2;
        position: absolute;
        padding: 50px 50px;
        border: 10px solid #725c5c;
    }
    .product-comp{
        grid-area: item6;
    }
    .product-comp-text{
        z-index: 2;
        position: absolute;
        left: 0;
        padding: 50px 50px;
        border: 10px solid #725c5c;
    }
    .product-color{
        grid-area: item8;
    }
    .product-color-text-list{
        z-index: 2;
        position: absolute;
        padding: 50px 50px;
        border: 10px solid #725c5c;
        left: 0;
    }
    
}
@media only screen and (max-width:830px) and (orientation: landscape) {
    .menu__main li{
    margin-top: 10px;
    
    }
}

