/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
    .container{
        background-color: blue;
    }
    .wrapper {
    max-width: 1000px;
    }
    .header{
    max-width: 1000px;
    }
    .product-tpe{
        display: inline-flex;
        padding: 5px;
    }
    .product-tpe-text{
    display: block;
   
}

.product__masterbatch{
    display: flex;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width:479px) and (max-width : 768px) {
    .container{
        background-color: rgb(199, 20, 130);
    }
    .wrapper {
    max-width: 768px;
    }
    .header{
    max-width: 768px;
    }
.product-comp-list{
    display: flex;
}

}


